<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.georgebrown.comp2074.capstone2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PasswordReminder"></activity>
        <activity android:name=".AddPatientForm" />
        <activity android:name=".View_doctor" />
        <activity android:name=".home_doctor" />
        <activity android:name=".home_school" />
        <activity android:name=".home_personal" />
        <activity android:name=".create_account" />
        <activity android:name=".create_doctor" />
        <activity android:name=".create_school" />
        <activity android:name=".create_personal" />
        <activity android:name=".Login" />
        <activity android:name=".splash" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>